<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bugevents - Sistema Gestión de Eventos</title>
    {% load static %}
    <link href="{% static 'gestionAdministrativa/static/recuperarContra.css' %}" type="text/css" rel="stylesheet">
</head>
<body style="background-color: rgb(39, 117, 151);">

    <div class="columna">
        <div class="texto titulo">Recuperar Contraseña</div>
            <div class="caja">
            <form class="texto formulario" action="">
                <div class="descrip"><p>Ingrese su correo electrónico</p></div>
                <input class="texto nombre" type="text">
                <div class="botones">
                <button class="texto cancelar" type="submit">Cancelar</button>
                <button class="texto aceptar" type="submit">Aceptar</button>
                </div>
            </form>
            </div>
    </div>

</body>
</html>